/public/upload/c_logo/
/public/upload/jobitem/images/real/
/public/upload/jobitem/images/tmp/
/public/upload/jobitem/movies/real/
/public/upload/jobitem/movies/tmp/
/storage/app/public/
/node_modules
/public/hot
/public/storage
/schema
/schemaspy
/storage/*.key
/vendor
.env
.env.dusk.local
.env.example
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
worker.log
.DS_Store
