// Typography
$font-family-base: "游ゴシック体", "Yu Gothic", YuGotShic, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.7;
$txt-color-base: #333;

// Colors
$lightblue: #457ab5;
$indigo: #6574cd;
$red: #c93a40;
$yellow: #de9610;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$deepblue: #0368b8;
$lightpink: #fce7e1;
$lightgray: #c0c0c0;
$whitegray: #dcdcdc;
$gold: #bdb76b;
$grid-breakpoints: (
  xxs: 0,
  xs: 320px,
  sm: 375px,
  md: 768px,
  lg: 1080px,
  xl: 1280px,
  xxl: 1440px
);
