/********** 求職者登録ページ************/
/**　登録ページ　**/
.register-card {
    margin: 2rem 0;
    background-color: #f0f0f0;
    border: 0;
    border-radius: 3px;
  }
  .register-card-body{
    margin: 1rem;
  }
  .register-card-body p {
    margin: 1rem auto .5rem
  }
  .register-card .btn {
    border-radius: 3px;
    border: 0;
    width: 200px;
    height: 50px;
    background: #de9610;
    font-weight: 400;
    color: #fff;
  }
   
  /**　登録完了ページ　**/
  .register-entry pad {
    padding: 3em 2em;
  }
  .card-body {
    text-align: center;
  }
  .card-body .register-complete-txt {
    font-size: 28px;
    margin: 100px 0 40px;
  }
  .card-body .top-redirect-btn {
    display: inline-block;
    color: #333;
    padding: 15px 25px;
    border: 1px solid #999;
    font-size: 18px;
    margin: 0 0 100px;
  }



 /* ********** 企業登録ページ************/
/**　仮登録ページ　**/
.emp-register-section {
margin-bottom: 0;
}
.e-wrap h2 {
  font-size: 1.6rem;
}
.e-wrap .header {
  height: auto;
}
.e-wrap .header .inner {
  padding: 10px;
  height: 60px;
  position: static;
}
.e-wrap .header-top {
  width: 100%;
  display: block;
  clear: both;
}
.e-wrap .header .logo{
  float: left;
  margin-top: 0;
  width: 17%;
}

.e-wrap .header .logo img {
  width: auto;
  height: 40px;
}
.emp-header-right {
  float: right;
  color: #fff;
}
.emp-header-right p {
  font-size: 12px;
  margin: 10px 0 0;

  line-height: 1;
}
.header-tel{
  font-size: 16px;
  font-weight: bold;
  margin: 0 8px;
  letter-spacing: -.1px;
}
.e-wrap .footer {
  margin-top: 0;
}
.e-wrap .footer-bottom {
  justify-content: space-between;
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
.e-wrap .footer-bottom-left {
  margin-left: 0;
  margin-top: 10px;
  justify-content: left;
}
.e-wrap .emp-footer-list {
  list-style: none;
  text-align: center;
}
.e-wrap .emp-footer-list li {
  display: inline-block;
  margin-right: 8px;
}
.e-wrap .emp-footer-list li:last-child{
  margin-right: 0;
}
.e-wrap .emp-footer-list li a {
  text-decoration: underline;
}

.e-wrap .emp-form-pagetop-list {
  list-style: none;
  text-align: right;
}
.e-wrap .emp-form-pagetop-list li {
  display: inline-block;
  margin-right: 8px;
}
.e-wrap .emp-form-pagetop-list li a {
  color: #333;
}

.emp-register-nameform {
  width: 48%;
  display: inline-block;
}
.emp-register-section p.text-danger {
  font-size: 12px;
  margin: 0;
}

.emp-register-section input {
  border-radius: 0px;
  height: calc(1.2em + 0.75rem + 2px);
}
.emp-register-section table th {
  font-weight: 400;
  vertical-align: middle;
  background-color:rgba(222,150,16,0.1);
}

input[size="65"] {
  width: 487px;
}
input[size="45"] {
  width: 380px;
}
input[size="28"] {
  width: 205px;
}

.emp-register-section p {
  margin: 1rem auto .5rem
}
.emp-register-section .btn {
  border-radius: 3px;
  border: 0;
  width: 200px;
  height: 50px;
  background: #de9610;
  font-weight: 400;
  color: #fff;
  margin: 0 auto;
  display: block;
}
.emp-register-flow {
  margin: 20px 0;
}
.emp-register-label {
  padding: 4px 8px;
  color: #fff;
}

.emp-register-endfield {
  background-color:rgba(222,150,16,0.1);
  padding: 20px;
}

.emp-register-yet {
  font-size: 21px;
  color: #c93a40;
  font-weight: bold;
}

/**　本登録ページ　**/
.emp-main-register-section .card-header{
  font-weight: bold;
  background-color:rgba(222,150,16,0.1);
}
.emp-main-register-section table th {
  font-weight: bold;
  vertical-align: middle;
  background-color:rgba(0, 0, 0, .05);
  min-width: 150px;
}
.emp-main-register-section .btn{
  border-radius: 3px;
  border: 0;
  width: 200px;
  height: 50px;
  background: #de9610;
  font-weight: 400;
  color: #fff;
}

@media (max-width:768px) {
  /* ********** 企業登録ページ************/
/**　仮登録ページ　**/
  .e-wrap h2 {
    font-size: 1.2rem;
  }
  .e-wrap .header .inner {
    padding: 0;
    height: auto;
  }
  .emp-header-right {
    color: #333;
  }
  .emp-header-right p {
    line-height: 1.5;
    text-align: right;
  }


  .emp-register-section table th {
    font-weight: 600;
  }
  .emp-register-section table th 
  , .emp-register-section table td {
    display: block;
  }

  .emp-main-register-section table th, .emp-main-register-section table td {
    display: block;
  }

  .emp-register-section input, .emp-register-section textarea {
    width: 96%;
    margin: 0 2%;
  }
 
  .emp-register-flow {
    margin: 20px 0;
    display: block!important;
  }
  
  
  /**　本登録ページ　**/
  .emp-main-register-section .card-header{
    font-weight: bold;
    background-color:rgba(222,150,16,0.1);
  }

  .emp-main-register-section input, .emp-main-register-section textarea {
    width: 96%;
    margin: 0 2%;
}
  .emp-main-register-section table th {
    font-weight: bold;
    vertical-align: middle;
    background-color:rgba(0, 0, 0, .05);
  }
  .emp-main-register-section .btn{
    border-radius: 3px;
    border: 0;
    width: 200px;
    background: #de9610;
    font-weight: 400;
    color: #fff;
  }

  input[size="45"] {
    width: 80%;
  }
  input[size="28"] {
    display: inline;
    width: 45%;
  }
  input[size="18"] {
    display: inline;
    width: 27%;
  }

  .emp-main-register-section table #f_month {
    width: 27%;
  }
  .emp-main-register-section table #industry {
    width: 100%;
  }


  .card-body .register-complete-txt {
    font-size: 20px;
    margin: 60px 0 40px;
  }
  .card-body .top-redirect-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 0 60px;
  }
}

@media (max-width: 568px) {
  .card-body .register-complete-txt {
    font-size: 18px;
    margin: 40px 0;
  }
  .card-body .top-redirect-btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 0 60px;
  }


  .e-wrap h2 {
    font-size: 1.1rem;
  }
  .emp-register-section table th {
    font-size: 12px;
  }
    input[size="18"] {
      width: 25%;
  }
  .emp-register-section p {
    font-size: 12px;
  }
  .emp-register-yet {
    font-size: 17px;
  }
}
