
.cf::after {
    clear: both;
    content: "";
    display: table;
}

.mt-3 {
    margin-top: 20px;
}
.mb-3 {
    margin-bottom: 20px;
}
.admin-content {
    .card {
        margin-bottom: 40px;
    }
    .card-header {
        border-left: 3px solid #333;
        padding-left: 6px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    /* job detail */
    .admin-job-detail-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .admin-job-detail-table tr{
        border: 1px solid #acacac; 
    
    }
    .admin-job-detail-table th, .admin-job-detail-table td {
        padding: 10px;
        display: block;
        @include mq(medium) {
            width: 250px;
            display: table-cell;
        }
    }
    .admin-job-detail-table th {
        border-bottom: 1px solid #acacac;
        width: 100%;

        @include mq(medium) {
            border-right: 1px solid #acacac;
            width: 20%;
            min-width: 150px;
        }
    }
    .admin-job-detail-table td p {
        margin: 0;
    }

    .admin-job-image-area {
        clear: both;
        
    }
    .admin-job-image-item {
        margin-bottom: 20px;
        @include mq(medium) {
            float: left;
            width: 32%;
            margin-right: 2%;
            margin-bottom: 0;
        }
    }
    .admin-job-image-item:last-child {
        margin-right: 0;
    }
    
    .admin-image-wrap {
        @include mq(medium) {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            width: 240px;
            height: 180px;
        }
    }
    .admin-job-image-item img  {
        width: 100%;
        @include mq(medium) {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
       
    }
}

/* user detail */
.applicant-detail .card-header {
    background-color: #d3d3d3;
    border-radius: 0px;
    padding: 0.75rem 1.25rem;
}
.applicant-detail-job-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.applicant-detail-job-table.table-bordered  {
    border: 1px solid #acacac;
}
.applicant-detail-job-table th, .applicant-detail-job-table td {
    padding: 10px;
    border: 1px solid #acacac!important;
}

.detail-box {
    margin-bottom: 40px;
    clear: both;
    margin-top: 20px;
}
.detail-item {
    letter-spacing: .1rem;
}
.item-row .row-label {
    padding: 18px 20px;
    display: table-cell;
    width: 25%;
    width: 250px;
    border-left: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    border-right: 1px solid #acacac;
    font-weight: bold;
}
.item-row .row-text {
    padding: 18px 20px;
    display: table-cell;
    width: 75%;
    width: 750px;
    border-bottom: 1px solid #acacac;
    border-right: 1px solid #acacac;
}
.detail-box .item-row:nth-child(1) .row-label, .detail-box .item-row:nth-child(1) .row-text {
    border-top: 1px solid #acacac;
}


/* billing index */
.tab-pane {
    margin-top: 20px;
    padding: 0 10px;
}

.billing-year-top {
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
}
.billing-year-top p {
    margin-right: 25px;
    font-size: 17px;
}
