/**** トップページ ****/
.top-heading-h2 {
  margin-bottom: 15px;
  margin-top: 30px;
}
.top-subsection-item {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.top-subsection-item-inner h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7
}

.top-subsection-item-inner {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 15px;
}

.top-subsection-item-text {
  margin-top: 15px;
}

/* トップカテゴリ一覧 */
.top-category-wrap {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 15px;
  position: relative;
}
.top-category-list {
  padding: 15px 0 20px;
  margin-bottom: 15px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.top-category-list .top-category-list-item {
  width: 32.3%;
  margin-right: 1%;
  line-height: 1.8;
  list-style: none;
}

.top-category-list .top-category-list-item a {
  color: $lightblue;
}
.top-category-list .top-category-list-item a:hover{
  text-decoration: underline;
}

/* ベータ版モーダル 表示 */
.wide-notice-overlay{
  display:none;
  width:100%;
  height:100vh;
  background: rgba(0,0,0,0.6);
  position:fixed;
  z-index:100;
}
.wide-notice-overlay .wide-notice-layout {
  width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 40px 4vw 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wide-notice-overlay .wide-notice-layout .notice-box p {
  margin-bottom: 20px;
}
.wide-notice-overlay .notice-close{
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
}
.wide-notice-overlay .notice-close::after {
  font-family: "Font Awesome 5 Free",FontAwesome;
  font-weight: 900;
  content: "\f00d";
}


/* 案件一覧 */
.newjob-entry {
  .newjob-list {
    display: block;
    @include mq(medium) {
      display: flex;
      justify-content: space-between;
    }
  }
  .newjob-item {
    width:100%;
    @include mq(medium) {
      width: 32%;
    }
  
    .img-wrap {
      margin-bottom: 10px;
      width: 30%;
      margin-right: 4%;
      @include mq(medium) {
        display: block;
        width: 100%;
        margin-right: 0;
      }
    }
    .img-wrap {
      width: 30%;
      margin-right: 4%;
      @include mq(medium) {
        margin-bottom: 10px;
        display: block;
        width: 100%;
        margin-right: 0;
      }
    }

    .txt-wrap {
      width: 66%;
      @include mq(medium) {  
        width: 100%;
      }

      h3 {
        width: 65%;
        margin-right: 2%;
        font-size: 18px;
      }
      h3 p {
        margin-bottom: 0;
      }

      
    }
    .newjob-item:last-child {
      margin-right: 0;
    }
    .newjob-item-link {
      display: flex;
      padding: 2em 0;
      @include mq(medium) {
        display: block;
      }
    }
  }
  .newjob-list-border {
    border: 2px solid #ececec;
    border-left: 0;
    border-right: 0;
  } 
  
}
 
  
@media (max-width:768px) {
  /* ベータ版モーダル 表示 */
  .wide-notice-overlay .wide-notice-layout {
    padding: 40px 4vw 20px;
    width: 90%;
  }
  .wide-notice-overlay .wide-notice-layout .notice-box p {
    margin-bottom: 20px;
  }
  .wide-notice-overlay .notice-close{
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 4px;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
  }

  /* トップカテゴリ一覧 */
  .top-category-wrap {
    padding: 0 12px;
  }
  .top-category-list {
    padding: 0;
  }
  .top-category-list .top-category-list-item {
    width: 49%;
    line-height: 1.5;
    margin-top: 10px;
  }
  .top-category-list .top-category-list-item a {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -.1px;
  }

  .top-sp-auth-btn-wrap a {
    border-radius: 0!important;
    padding: 12px 10px;
  }
    

}

