@charset "utf-8";

/* -------------------------------------------------------------------
TWO-3191 QRコードモーダル
------------------------------------------------------------------- */
.actionButtonQrArea {
	text-align: center;
	padding: 20px 0px;
}

.actionButtonQrArea .actionButtonQr {
	font-size: 12px;
	border: solid 1px #097ed1;
	background: #fff;
	color: #08548f;
	font-weight: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 15px;
	border-radius: 3px;
}

#popupQr {
	margin: 150px auto;
	text-align: center;
	width: 650px;
}

#popupQr .closeBtnArea {
	font-size: 13px;
	margin: 10px;
}

#popupQr #qrCodeArea img {
	margin: 10px 0;
}
